Package: com.smfb7.ccxviii
Name: CCXVIII
Version: 1.0.3
Architecture: iphoneos-arm
Description: Fork of therealhoodboy's CC26 to remove the module rounding, borders, make the power button white by default, etc.
Maintainer: SMFB7
Author: SMFB7
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware (>= 13.0), firmware (<< 18.0)
Conflicts: com.cureux.cc26
Provides: com.smfb7.ccxviii